<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.lunch.model.dao.MemberDAO">
    <!--회원가입!-->
    <insert id="insertMember" parameterType="MemberVO">
        insert into member(name,email,gender,id,pw,nickname) value(#{name},#{email},#{gender},#{id},#{pw},#{nickname})
    </insert>

    <insert id="log" parameterType="MemberVO">
        insert into log (id, log) values(#{id},#{log})
    </insert>

    <select id="getAllPage" resultType="??int" parameterType="??MemberVO">
        select ceil(count(*)/10) from member where select like #{id}
    </select>

    <select id="getHashedPw" resultType="??String" parameterType="MemberVO">
        select pw from member where id = #{id}
    </select>

    <select id="getBoardCount" resultType="??int" parameterType="MemberVO">
        select count(*) from member where id = #{id}
    </select>

    <select id="getRanking" resultType="MemberVO" parameterType="??String, id, int IDX, int pagecount">
        select nickname, ranked, id, point, reg_dt from member where "+select+" like ? order by point desc, reg_dt limit ?,?
    </select>

    <select id="searchUser" resultType="MemberVO" parameterType="MemberVO">
        select * from member where id = #{id}
    </select>

    <select id="getUserInfo" resultType="MemberVO" parameterType="MemberVO">
        select * from member where id = #{id}
    </select>

    <select id="selectIdList" resultType="String" parameterType="MemberVO">
        select id from member where email=#{email}
    </select>

    <select id="findPw" resultType="??boolean" parameterType="MemberVO">
        select * from member where id=#{id} and name=#{name} and email=#{email}
    </select>

    <select id="regiManager" resultType="??boolean" parameterType="String">
        select code from manager where code = #{??}
    </select>

    <select id="logCheck" parameterType="MemberVO">
        select * from log where id = #{id} and log='로그인' and date(reg_dt) = date(now()) limit 1
        ??
        update log set attendance = 1 where id = ? and log='로그인' and date(reg_dt) = date(now()) limit 1
        update member set point=point+"+loginPoint+" where id = ?
    </select>

    <delete id="removeUser" parameterType="MemberVO">
        delete from member where id = #{id}
    </delete>

    <update id="editNick" parameterType="MemberVO">
        update member set nickname=#{nickname} where id=#{id}
    </update>

    <update id="editPw" parameterType="MemberVO">
        update member set pw=#{hashpw} where id=#{id}
    </update>

    <update id="setPoint" parameterType="MemberVO">
        update member set point=point"+sign+"25 where id=#{id}
    </update>

    <update id="modManager" parameterType="MemberVO">

    </update>
</mapper>